# Modified form https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf
#

LOCATE COMP "clk_i" SITE "G2";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

#############
## Buttons ##
#############

LOCATE COMP "rst_in" SITE "D6";
IOBUF  PORT "rst_in" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# up
LOCATE COMP "in_i[0]" SITE "R18";
IOBUF  PORT "in_i[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# down
LOCATE COMP "in_i[1]" SITE "V1";
IOBUF  PORT "in_i[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# left
LOCATE COMP "in_i[2]" SITE "U1";
IOBUF  PORT "in_i[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# right
LOCATE COMP "in_i[3]" SITE "H16";
IOBUF  PORT "in_i[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# a
LOCATE COMP "in_i[4]" SITE "R1";
IOBUF  PORT "in_i[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# b
LOCATE COMP "in_i[5]" SITE "T1";
IOBUF  PORT "in_i[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

##########
## LEDs ##
##########

LOCATE COMP "out_o[0]" SITE "B2";
IOBUF  PORT "out_o[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out_o[1]" SITE "C2";
IOBUF  PORT "out_o[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out_o[2]" SITE "C1";
IOBUF  PORT "out_o[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out_o[3]" SITE "D2";
IOBUF  PORT "out_o[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out_o[4]" SITE "D1";
IOBUF  PORT "out_o[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out_o[5]" SITE "E2";
IOBUF  PORT "out_o[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


############
## Memory ##
############

LOCATE COMP "qspi_cs_rom_on" SITE "D16";
IOBUF PORT  "qspi_cs_rom_on" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[0]" SITE "C17";
IOBUF PORT  "qspi_sdio_io[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[1]" SITE "C15";
IOBUF PORT  "qspi_sdio_io[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sck_o" SITE "D17";
IOBUF PORT  "qspi_sck_o" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[2]" SITE "C16";
IOBUF PORT  "qspi_sdio_io[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[3]" SITE "B17";
IOBUF PORT  "qspi_sdio_io[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_cs_ram_on" SITE "B15";
IOBUF PORT  "qspi_cs_ram_on" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

